.center{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.logo{
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 3em;
}

.logo h3{
  margin: 25px;
}


@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.logo:hover {
  color: #7c3ef8;
  transition: color 0.3s;
}


.logo::after {
  position: absolute;
  content: "";
  top: calc(150px / 15);
  left: 0;
  right: 0;
  z-index: -1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  transform: scale(0.8);
  border-radius: 35%;
  filter: blur(calc(150px / 5));
  background-image: linear-gradient(
    var(--rotate)
    , #e40050, #e6006b, #e10089, #d200a9, #b500cb, #981edb, #6f30ea, #003ef8, #004fee, #005bdf, #0063ce, #0069ba);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}